doctype html
html
   head
      title= "Films API - Película Elegida"
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header
            h1  Película seleccionada 
            
        main 
            section
                article 
                    h1 #{peliSeleccionada.Title}
                    img(src= peliSeleccionada.Poster)
                article 
                    p YEAR: #{peliSeleccionada.Year}
                    p DIRECTOR: #{peliSeleccionada.Director}
                    p GENERE: #{peliSeleccionada.Genre}
                    p RUNTIME : #{peliSeleccionada.Runtime}
                    p PLOT : #{peliSeleccionada.Plot}
                    p ACTORS: #{peliSeleccionada.Actors}
                    p RATING: #{peliSeleccionada.Ratings[0].Value}
            section 
                button(id="agregarFavoritos") Añadir a MIS PELÍCULAS

                

        footer 
            include ./footer.pug
        script(src='/script.js')
